.cargo
temp
node_modules
.vscode
/bin/polkadot
/bin/polkadot-collator
/bin/parachain-collator
9944.log
9955.log
9966.log
9977.log
9988.log
9999.log
alice.log
bob.log
kusama-local-raw.json
kusama-local.json
polkadot-local-raw.json
polkadot-local.json

